<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ldw.microservice.dao.OperLogMapper">
    <resultMap id="BaseResultMap" type="com.ldw.microservice.entity.OperLog">
        <result column="id" jdbcType="CHAR" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="noted" jdbcType="CHAR" property="noted"/>
    </resultMap>

    <insert id="insert" parameterType="map">
    insert into
      ${tableName}  (create_time, noted )
    values
      (#{createTime,jdbcType=TIMESTAMP}, #{noted,jdbcType=CHAR} )
  </insert>

    <select id="getPage" resultType="OperLog" parameterType="com.ldw.microservice.entity.OperLog">
        SELECT * FROM oper_log_201908
        WHERE noted=${noted}
    </select>

    <select id="getByCondition" resultType="OperLog" parameterType="com.ldw.microservice.entity.OperLog">
        SELECT * FROM oper_log_201908
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="createTime != null">
                AND create_time = #{createTime}
            </if>
            <if test="noted != null">
                AND noted = #{noted}
            </if>
        </where>
    </select>

    <insert id="insertSelective" parameterType="com.ldw.microservice.entity.OperLog">
        insert into oper_log_201908
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="noted != null">
                noted,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=CHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="noted != null">
                #{noted,jdbcType=CHAR},
            </if>
        </trim>
    </insert>
</mapper>