<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ldw.microservice.comsumer.dao.EmployeeMapper">

    <!-- 声明sql片段 -->
    <sql id="employeeInfoFields">
		employeeId,employeeName,employeeIdCardNo,sex,deptno
	</sql>


    <select id="findById" resultType="EmployeeInfo" parameterType="String">
        SELECT
        <include refid="employeeInfoFields"/>
        FROM employeeinfo
        where employeeId=#{employeeId}
    </select>


    <select id="findAll" resultType="EmployeeInfo">
        SELECT
        <include refid="employeeInfoFields"/>
        FROM employeeinfo
    </select>


    <insert id="addEmployee" parameterType="EmployeeInfo">
		insert into employeeinfo (employeeId,employeeName,employeeIdCardNo,sex,deptno)
		values(${employeeId},${employeeName},${employeeIdCardNo},${sex},${deptno})
	</insert>
</mapper>